/* rdd mostra isso*/
/*prepara��o  pra texto compile de miga */
textarea{
font-style:"bold";
font-size:"13.2cm";
margin-left:"30px";
FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,10);
background-COLOR:rgba(213,109,201,100);
width:354px;
/**/
height:470px;
}
/*3*/.conteiner-fluid {

}
