
body{background-color:#7FFFD4;FONT-FAMILY:"algerian";COLOR: green ; }

textarea{font-style:"bold";font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";COLOR:rgba(225,225,225,10);background-COLOR:rgba(213,109,201,100);width:354px;height:470px;}
/*fundo verde agua, letra azul,translucido
margens:3cm
*/
/* formata titulo,negrita titulo,tamanho 48 margem esquerda 3cm*/
p{font-style:"bold";font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";COLOR:rgba(25,25,112,100);}/

text{FONT-FAMILY:"algerian";font-size:"11cm";COLOR:rgba(25,25,112,100);}/*grifa poe cor na referencia*/

li{COLOR:rgb(12,132,214);background-color(255,255,0);}

BIG{font-family="Adobe Garamond Pro Bold";font-size="80";background-COLOR:rgba(213,109,201,100);}

#lista{font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);background-COLOR:rgba(213,109,201,100); width:auto;}

/*abaixo categorias do hospital*/

#azul{
font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);width:auto;
/*fundo azul medio*/
background-COLOR:#117b9e;

}



#vermelho{
font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);width:auto;
background-COLOR: 9e0103;
/*vermelho escuro*/
}


/* probelmas respitarios respiratorios*/
#dourado{ /*branco de fundo*/
font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);width:auto;
/*dourado*/
background-COLOR: #c4b812;
}

#roxo{
font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);width:auto;
background-COLOR: #7b07f6;}

#invisivel{
font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);width:auto;
/*configula invisibilidade de fundo*/
background-COLOR: transparent;
border-color:transparent;
}

/* formatando divisorias abaixo em div */

div{font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);}


#verde{
font-style:"bold" font-size:"13.2cm";margin-left:"30px";FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,225);width:auto;
/*fundo verde  medio*/
background-COLOR:#4da516;}


input{font-style:"bold"
font-size:"13.2cm";
margin-left:"30px";
FONT-FAMILY:"arial black";
COLOR:rgb(225,225,225);
background-COLOR:rgba(213,109,201,100);

}
select{font-style:"bold"
font-size:"13.2cm";
margin-left:"30px";
FONT-FAMILY:"arial black";
COLOR:rgba(225,225,225,100);
background-COLOR:rgba(213,109,201,100);

}
iframe{
border-color:rgba(213,109,201,100);
}/*delimitando imagens*/


img,figure{
width:3cm;
heigth: 4cm;
}


